[submodule "vim/bundle/pathogen"]
	path = vim/.vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/buftabline"]
	path = vim/.vim/bundle/buftabline
	url = https://github.com/ap/vim-buftabline
[submodule "vim/bundle/filebeagle"]
	path = vim/.vim/bundle/filebeagle
	url = https://github.com/jeetsukumaran/vim-filebeagle
[submodule "vim/bundle/fugitive"]
	path = vim/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/bundle/jinja2"]
	path = vim/.vim/bundle/jinja2
	url = https://github.com/Glench/Vim-Jinja2-Syntax
