[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/buftabline"]
	path = vim/bundle/buftabline
	url = https://github.com/ap/vim-buftabline
[submodule "vim/bundle/filebeagle"]
	path = vim/bundle/filebeagle
	url = https://github.com/jeetsukumaran/vim-filebeagle
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
